body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.tab {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.label {
    font-weight: bold;
}

.star-button {
    color: gold;
    cursor: pointer;
    position: relative;
    top: 0;
    left: 100;
}

.arrows-button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; /* Adjust the margin as needed */
  }
  
  .arrows-button {
    padding: 10px 20px;
    background-color: #222; /* Change the background color as needed */
    color: #fff; /* Change the text color as needed */
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Optional: Add styles for hover and active states */
  .arrows-button:hover,
.arrows-button:focus {
  opacity: .75;
}



