body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

.tab {
    padding: 10px;
    border: 1px solid #ccc;
    cursor: pointer;
}

.label {
    font-weight: bold;
}

.star-button {
    color: gold;
    cursor: pointer;
    position: relative;
    top: 0;
    left: 100;
}



