html {
    box-sizing: border-box;
}

body {
    background-color: #1DB954;
    align-items: center;
}

.container {
    display: flex;
    background-color: #fff;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    align-items: center;
} 

.vertical-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    align-items: center;
} 

.small-gray-container {
    display: flex;
    background-color: #f4f4f4;
}

.small-vertical {
    display: flex;
    flex-direction: column;
    background-color: #f4f4f4;
}

.small-vertical-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-top: 10px;
    margin-left: 400px;
    margin-right: 100px;
    margin-bottom: 0;
    height: 500px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    overflow: hidden;
    align-items: center;
}

.center-vertical-container {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    margin-top: 10px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 0;
    height: 400px;
    width: 500px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    align-items: center;
}

.dialogue {
    width: 500px;
}

.img {
    margin-top: 50px;
    width: 100px;
    height: 100px;
}

.input-box {
    margin-bottom: 10px;
}

.input-box > .errorLabel {
    color: red;
    font-size: 12px;
  }

/* CSS */
.button {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: 300px;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}

.button:hover,
.button:focus {
  opacity: .75;
}




.site-title {
    font-size: 3rem;
}


.nav {
    background-color: #222;
    color: white;
    display: flex;
    justify-content: space-between;
   
}

.favorites {
    border:1px solid black;
    color:black;
    background-color: #6133ff;
    font-size: 1rem;
    padding-bottom: 1rem;
    width: 50%;

    position: relative;
    display: inline-block;
    height: auto;
}

.profile-picture {
    padding-top: 1rem;
}

.nav ul {
    vertical-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    gap: 1rem;
}

.nav a {
    color: inherit;
    font-family: "Farfetch Basis","Helvetica Neue",Arial,sans-serif;
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: stretch;
    padding: .25rem;
}

.nav li.active {
    background-color: #555;
}

.nav li:hover {
    background-color: #777;
}


.welcome {
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 5rem;
}

.modal-content {
    width: 100%;
}
